*{
	box-sizing: border-box;
	transition: all .1s ease-in 
}
html{
	height: 100%;
}

body {

    min-height: 100vh;
    min-width: 1200px;
	margin: 0;
    font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
	color: #fafefe;
	border: 20px solid #2b81ac;
	background-color: #3399cc;
	
}
h1 {
	display: inline-block;
	margin-right: 10px;

}


.main-container {
	width: 60%;
	margin: 0 auto;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	border: 2px solid #fff;
}

li {
	display: inline-block;
	text-align: center;
	overflow: hidden;
	padding: 30px;
	font-size: 25px;
	white-space: nowrap;
	border: 2px solid #fff;
	
}

.xs {
	width: 25%
}

.md {
	width: 50%;
}

.lg{
	width: 100%;
}

.color-1 {
	background-color: #3399cc;
}
.color-2 {
	background-color: #33cccc;
}
.color-3 {
	background-color: #996699;
}
.color-4 {
	background-color: #c24747;
}
.color-5 {
	background-color: #e2674a;
}
.color-6 {
	background-color: #ffcc66;
}
.color-7 {
	background-color: #99cc99;
}
.color-8 {
	background-color: #669999;
}
.color-9 {
	background-color: #cc6699;
}
.color-10 {
	background-color: #339969;
}
.color-11 {
	background-color: #666699;
}


.info-container {
	margin-top: 5px;
	color: rgba(250,254,254,0.7);

}

.temp{
	font-size: 30px;

}

/*.temp:after{
	content:  '\b0 С';
}
*/

i {
	
	font-size: 30px;
}

.wi {
	vertical-align: middle;
}

.wi-celsius{
	font-size: 40px;
}

p {
	font-size: 20px;
}


ul:hover li {
	/*background-color: rgba(255,255,255,0.4);*/
	opacity: 0.5;
}


.city:hover {
	opacity: 1;
	/*background-color: rgba(255,255,255,0.9);*/
}
